mixin about()
    section.about#about 
        .about__body.container 
            .about__top 
                h2.about__title О нас
                p.about__p На протяжении 14 лет мы оказываем услуги по перевозкам контейнеров всех размеров по всей Российской Федерации. Благодаря большому автопарку, мы оперативно рассчитаем стоимость перевозки. Наши сотрудники предложат максимально рациональный и экономичный вариант перевозки груза, а наши опытные водители доставят ваш груз безопасно и в срок. 
            .about__content 
                .about__item 
                    p.about__item-title 14 лет
                    p.about__item-p На рынке
                .about__item 
                    p.about__item-title 56 939 +
                    p.about__item-p Завершённых#[br]перевозок
                .about__item 
                    p.about__item-title 15
                    p.about__item-p Машин с раздвижными прицепами в автопарке