mixin contact()
    section.contact#contact 
        .contact__body.container 
            .contact__info  
                h2.contact__title Доверьте перевозку вашего груза нам
                a(href="tel:+89265780889").contact__tel 8-(926)-578-08-89
                a(href="mailto:zakaz@profkont.ru").contact__tel zakaz@profkont.ru
                .contact__soc 
                    a(href="#!").contact__soc-item
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 21V22C8.61085 22.9539 10.1258 23.0104 12 23C17.7699 22.9869 23 18.7442 23 13C23 10.2239 21.9694 6.96522 20 5C18.0333 3.01447 14.8003 2 12 2C6.25651 2 2 6.28267 2 12C2 12.0452 1.99934 12.9548 2 13C2.0173 14.9439 2.98316 16.3405 4 18L3 22L7 21Z" fill="#00E676"/>
                        <path d="M21 4.00009C18.7745 1.74669 15.179 -0.0147807 12 9.35066e-05C5.45301 0.000113827 0 5.50264 0 12.0001C0 11.9696 0 12.0306 0 12.0001C0.0246601 14.0659 0.994894 16.1909 2 18.0001L0 24.0001L6 22.0001C7.74958 22.9534 10.0042 24.0177 12 24.0001C18.5712 23.9644 24.0039 18.5222 24 12.0001C24.0157 8.86649 23.2281 6.2204 21 4.00009ZM12 22.0001C10.2308 22.0092 8.51892 20.9004 7 20.0001L3 21.0001L4 18.0001V17.0001C3.02889 15.4439 2.00003 13.8305 2 12.0001C2 6.60209 6.56081 2.00009 12 2.00009C17.4392 2.00009 22 6.60209 22 12.0001C22 15.399 19.9098 18.2066 17 20.0001C15.461 20.9785 13.8276 22.0045 12 22.0001ZM18 15.0001L17 14.0001C17 14.0001 15.6536 13.3244 15 13.0001C14.9346 13.0001 15.0654 13.0001 15 13.0001C14.8389 13.004 15.1389 13.919 15 14.0001C14.8608 14.0812 14.915 13.9623 14 15.0001C13.9379 15.1214 13.1372 15.0027 13 15.0001C12.9017 14.9838 13.0721 15.0683 13 15.0001C12.2988 14.7055 11.5522 13.5204 11 13.0001C10.8693 12.8704 10.1307 13.1298 10 13.0001C9.51615 12.5401 9.34011 11.573 9 11.0001C8.94322 10.9208 9.02985 11.0927 9 11.0001C8.94068 11.0973 8.98291 10.8877 9 11.0001C9.05948 10.9028 9.80393 10.1947 10 10.0001C9.86929 10.1298 10.1961 9.80551 10 10.0001C10.0672 9.9075 9.97745 9.11198 10 9.00009C10.0225 8.88821 10.0261 9.11121 10 9.00009C9.69541 8.16078 9.39208 7.80285 9 7.00009C8.89491 6.83789 9.18869 6.04615 9 6.00009H8C7.86929 6.00009 7.13073 6.00009 7 6.00009C6.86929 6.06495 7.13073 6.93523 7 7.00009C6.86929 7.06495 7.13071 6.87037 7 7.00009C6.54308 7.57312 6.00923 8.26941 6 9.00009C6.00724 9.51408 5.79158 10.5295 6 11.0001C6.58687 12.2453 7.98933 13.06 9 14.0001C9.19025 14.1565 8.84243 14.8113 9 15.0001C10.3542 16.1696 12.2634 16.548 14 17.0001C14.1961 17.065 14.8039 16.9352 15 17.0001H16C15.6954 17.1544 16.3416 16.9834 16 17.0001C16.1601 16.9281 16.8555 17.1006 17 17.0001C17.1307 16.8704 16.8693 16.1298 17 16.0001C17.1277 15.8871 17.9111 16.1452 18 16.0001C18.1255 15.7095 17.9523 15.3127 18 15.0001C18.0713 15.0338 17.9413 14.9477 18 15.0001Z" fill="#F4F4F4"/>
                        </svg> 
                    a(href="#!").contact__soc-item
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_191_666)">
                        <path d="M24 12C24 18.63 18.63 24 12 24C5.37 24 0 18.63 0 12C0 5.37 5.37 0 12 0C18.63 0 24 5.37 24 12Z" fill="url(#paint0_linear_191_666)"/>
                        <path d="M10 18C9.60556 18 9.14159 17.3828 9 17L8 14L15 9H16L15 11L10 18Z" fill="#C8DAEA"/>
                        <path d="M10 17C10.2857 17 10.8381 17.1488 11 17C11.2476 16.7674 14 13 14 13H12L10 14V17Z" fill="#A9C9DD"/>
                        <path d="M10 13.9997L15 17.9997C15.5478 18.3013 15.8606 17.6633 16 16.9997L18 7.99972C18.1992 7.18536 17.5279 6.75843 17 6.99972L6 11.9997C5.21313 12.3214 4.36254 12.8087 5 12.9997H8L15 8.99972C15.3187 8.79864 16.239 8.77853 16 8.99972L10 13.9997Z" fill="url(#paint1_linear_191_666)"/>
                        </g>
                        <defs>
                        <linearGradient id="paint0_linear_191_666" x1="15.517" y1="3.793" x2="9.517" y2="17.7928" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#37AEE2"/>
                        <stop offset="1" stop-color="#1E96C8"/>
                        </linearGradient>
                        <linearGradient id="paint1_linear_191_666" x1="12.9104" y1="12.187" x2="15.4596" y2="16.2553" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#EFF7FC"/>
                        <stop offset="1" stop-color="white"/>
                        </linearGradient>
                        <clipPath id="clip0_191_666">
                        <rect width="24" height="24" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg> 
            form(action="#!").contact__content.form__inner 
                input(type="hidden" name="title" value="Доверьте перевозку вашего груза нам")
                input(type="text" placeholder="Имя" name="name").form__input.contact__input
                input(type="text" placeholder="Фамилия" name="lastname").form__input.contact__input
                input(type="text" placeholder="Телефон" name="phone").form__input.contact__input
                input(type="text" placeholder="Удобное время для звонка" name="date").form__input.contact__input
                button(type="submit").form__btn.contact__btn Оставить заявку
                p.contact__p Нажимая кнопку вы соглашаетсь с #[a(href="privacy.html") политикой конфединциальности]