mixin info() 
    section.info 
        .info__body.container 
            h2.info__title Более 14 лет 
            p.info__p оказываем услуги по перевозкам контейнеров по всей стране 
            .info__row 
                .info__item 
                    .info__item-num 1 
                    p.info__item-p Рассчитываем#[br]и согласовываем стоимость 
                .info__item 
                    .info__item-num 2 
                    p.info__item-p Подготовка и согласование#[br]всех необходимых документов 
                .info__item 
                    .info__item-num 3 
                    p.info__item-p Доставка вашего груза#[br]до места выгрузки 