mixin intro()
    section.intro
        .intro__body.container 
            .intro__img 
                img(src="@img/intro.png", alt="" draggable="false")
            .intro__content 
                h1.intro__title Контейнерные перевозки
                p.intro__p Возим контейнеры всех размеров по всей Российской Федерации
                a(href="#!").intro__btn Узнать стоимость
                .intro__info 
                    .intro__info-item 
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="20" cy="20" r="20" fill="white"/>
                            <path d="M30.8334 20C30.8334 25.98 25.98 30.8334 20 30.8334C14.02 30.8334 9.16669 25.98 9.16669 20C9.16669 14.02 14.02 9.16669 20 9.16669C25.98 9.16669 30.8334 14.02 30.8334 20Z" stroke="#FE6130" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M24.0192 23.445L20.6608 21.4409C20.0758 21.0942 19.5992 20.26 19.5992 19.5775V15.1359" stroke="#FE6130" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg> 
                        p.intro__info-p Своевременная доставка
                    .intro__info-item 
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="20" cy="20" r="20" fill="white"/>
                            <path d="M23.25 9.16669V20C23.25 21.1917 22.275 22.1667 21.0834 22.1667H9.16669V13.5C9.16669 11.1059 11.1059 9.16669 13.5 9.16669H23.25Z" stroke="#FE6130" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M30.8334 22.1667V25.4167C30.8334 27.215 29.3817 28.6667 27.5834 28.6667H26.5C26.5 27.475 25.525 26.5 24.3334 26.5C23.1417 26.5 22.1667 27.475 22.1667 28.6667H17.8334C17.8334 27.475 16.8584 26.5 15.6667 26.5C14.475 26.5 13.5 27.475 13.5 28.6667H12.4167C10.6184 28.6667 9.16669 27.215 9.16669 25.4167V22.1667H21.0834C22.275 22.1667 23.25 21.1917 23.25 20V12.4167H25.2433C26.0233 12.4167 26.7383 12.8392 27.1283 13.5109L28.9809 16.75H27.5834C26.9875 16.75 26.5 17.2375 26.5 17.8334V21.0834C26.5 21.6792 26.9875 22.1667 27.5834 22.1667H30.8334Z" stroke="#FE6130" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.6667 30.8333C16.8633 30.8333 17.8333 29.8633 17.8333 28.6667C17.8333 27.47 16.8633 26.5 15.6667 26.5C14.47 26.5 13.5 27.47 13.5 28.6667C13.5 29.8633 14.47 30.8333 15.6667 30.8333Z" stroke="#FE6130" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M24.3334 30.8333C25.53 30.8333 26.5 29.8633 26.5 28.6667C26.5 27.47 25.53 26.5 24.3334 26.5C23.1367 26.5 22.1667 27.47 22.1667 28.6667C22.1667 29.8633 23.1367 30.8333 24.3334 30.8333Z" stroke="#FE6130" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M30.8333 20V22.1667H27.5833C26.9875 22.1667 26.5 21.6792 26.5 21.0833V17.8333C26.5 17.2375 26.9875 16.75 27.5833 16.75H28.9808L30.8333 20Z" stroke="#FE6130" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        p.intro__info-p Большой автопарк
                    .intro__info-item 
                        <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="20" cy="20" r="20" fill="white"/>
                            <path d="M16.2842 23.5425L23.3692 16.4575" stroke="#FE6130" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16.7284 18.2341C17.4643 18.2341 18.0609 17.6376 18.0609 16.9017C18.0609 16.1657 17.4643 15.5692 16.7284 15.5692C15.9925 15.5692 15.3959 16.1657 15.3959 16.9017C15.3959 17.6376 15.9925 18.2341 16.7284 18.2341Z" stroke="#FE6130" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M23.8133 24.4309C24.5492 24.4309 25.1458 23.8343 25.1458 23.0983C25.1458 22.3624 24.5492 21.7659 23.8133 21.7659C23.0774 21.7659 22.4808 22.3624 22.4808 23.0983C22.4808 23.8343 23.0774 24.4309 23.8133 24.4309Z" stroke="#FE6130" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M20 30.8334C25.983 30.8334 30.8333 25.9831 30.8333 20C30.8333 14.0169 25.983 9.16669 20 9.16669C14.0169 9.16669 9.16663 14.0169 9.16663 20C9.16663 25.9831 14.0169 30.8334 20 30.8334Z" stroke="#FE6130" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        p.intro__info-p Выгодные тарифы