mixin news()
    section.news#news   
        .news__body.container 
            .news__header 
                h2.news__title Новости 
                a(href="news.html").news__link Все новости
            .news__content 
                a(href="new.html").news__item
                    .news__item-img 
                        img(src="@img/new.png", alt="" draggable="false")
                    .news__item-header 
                        p.news__item-title Из Москвы в Норильск через Красноярск
                        p.news__item-date 26.06.2023
                    p.news__item-p Норильск – уникальный город на севере Красноярского края, где речной порт (Дудинка) работает круглый год. В зимний сезон при закрытии речной навигации по Енисею единственный маршрут доставки контейнеров проходит через Северный Морской Путь.
                a(href="new.html").news__item
                    .news__item-img 
                        img(src="@img/new.png", alt="" draggable="false")
                    .news__item-header 
                        p.news__item-title Из Москвы в Норильск через Красноярск
                        p.news__item-date 26.06.2023
                    p.news__item-p Норильск – уникальный город на севере Красноярского края, где речной порт (Дудинка) работает круглый год. В зимний сезон при закрытии речной навигации по Енисею единственный маршрут доставки контейнеров проходит через Северный Морской Путь.