mixin news()
    section.news#news   
        .news__body.container 
            .news__header 
                h2.news__title Новости 
                a(href="news.html").news__link Все новости
            .news__content 
                a(href="new.html").news__item
                    .news__item-img 
                        img(src="@img/new.png", alt="" draggable="false")
                    .news__item-header 
                        p.news__item-title Из Москвы в Норильск через Красноярск
                        p.news__item-date 26.06.2023
                    p.news__item-p Норильск – уникальный город на севере Красноярского края, где речной порт (Дудинка) работает круглый год. В зимний сезон при закрытии речной навигации по Енисею единственный маршрут доставки контейнеров проходит через Северный Морской Путь.
                a(href="new.html").news__item
                    .news__item-img 
                        img(src="@img/new.png", alt="" draggable="false")
                    .news__item-header 
                        p.news__item-title Из Москвы в Норильск через Красноярск
                        p.news__item-date 26.06.2023
                    p.news__item-p Норильск – уникальный город на севере Красноярского края, где речной порт (Дудинка) работает круглый год. В зимний сезон при закрытии речной навигации по Енисею единственный маршрут доставки контейнеров проходит через Северный Морской Путь.

mixin news-2()
    section.news#news.news-2    
        .news__body.container 
            .news__content 
                a(href="new.html").news__item
                    .news__item-img 
                        img(src="@img/new.png", alt="" draggable="false")
                    .news__item-header 
                        p.news__item-title Из Москвы в Норильск через Красноярск
                        p.news__item-date 26.06.2023
                    p.news__item-p Норильск – уникальный город на севере Красноярского края, где речной порт (Дудинка) работает круглый год. В зимний сезон при закрытии речной навигации по Енисею единственный маршрут доставки контейнеров проходит через Северный Морской Путь.
                a(href="new.html").news__item
                    .news__item-img 
                        img(src="@img/new.png", alt="" draggable="false")
                    .news__item-header 
                        p.news__item-title Из Москвы в Норильск через Красноярск
                        p.news__item-date 26.06.2023
                    p.news__item-p Норильск – уникальный город на севере Красноярского края, где речной порт (Дудинка) работает круглый год. В зимний сезон при закрытии речной навигации по Енисею единственный маршрут доставки контейнеров проходит через Северный Морской Путь.
                a(href="new.html").news__item
                    .news__item-img 
                        img(src="@img/new.png", alt="" draggable="false")
                    .news__item-header 
                        p.news__item-title Из Москвы в Норильск через Красноярск
                        p.news__item-date 26.06.2023
                    p.news__item-p Норильск – уникальный город на севере Красноярского края, где речной порт (Дудинка) работает круглый год. В зимний сезон при закрытии речной навигации по Енисею единственный маршрут доставки контейнеров проходит через Северный Морской Путь.
                a(href="new.html").news__item
                    .news__item-img 
                        img(src="@img/new.png", alt="" draggable="false")
                    .news__item-header 
                        p.news__item-title Из Москвы в Норильск через Красноярск
                        p.news__item-date 26.06.2023
                    p.news__item-p Норильск – уникальный город на севере Красноярского края, где речной порт (Дудинка) работает круглый год. В зимний сезон при закрытии речной навигации по Енисею единственный маршрут доставки контейнеров проходит через Северный Морской Путь.
                a(href="new.html").news__item
                    .news__item-img 
                        img(src="@img/new.png", alt="" draggable="false")
                    .news__item-header 
                        p.news__item-title Из Москвы в Норильск через Красноярск
                        p.news__item-date 26.06.2023
                    p.news__item-p Норильск – уникальный город на севере Красноярского края, где речной порт (Дудинка) работает круглый год. В зимний сезон при закрытии речной навигации по Енисею единственный маршрут доставки контейнеров проходит через Северный Морской Путь.
                a(href="new.html").news__item
                    .news__item-img 
                        img(src="@img/new.png", alt="" draggable="false")
                    .news__item-header 
                        p.news__item-title Из Москвы в Норильск через Красноярск
                        p.news__item-date 26.06.2023
                    p.news__item-p Норильск – уникальный город на севере Красноярского края, где речной порт (Дудинка) работает круглый год. В зимний сезон при закрытии речной навигации по Енисею единственный маршрут доставки контейнеров проходит через Северный Морской Путь.
            .news__nav 
                a(href="#!").news__nav-item.disabled 
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.52734 11.679L2.84856 8.00017L6.52734 4.32138" stroke="#FE6130" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M13.1514 8L2.95137 8" stroke="#FE6130" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                a(href="#!").news__nav-item.active 1
                a(href="#!").news__nav-item 2
                a(href="#!").news__nav-item 3
                a(href="#!").news__nav-item 
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.47266 4.32104L13.1514 7.99983L9.47266 11.6786" stroke="#FE6130" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M2.84863 8H13.0486" stroke="#FE6130" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>