mixin table()
    section.table
        .table__body.container 
            .table__content 
                .table__item
                    p.table__p 1 км
                    p.table__p 110&nbsp;₽
                .table__item
                    p.table__p Постановка контейнера
                    p.table__p 22&nbsp;000&nbsp;₽
                .table__item
                    p.table__p Простой свыше 5 часов на загрузке / выгрузке*
                    p.table__p 1&nbsp;500&nbsp;₽&nbsp;/&nbsp;1&nbsp;час
                .table__item
                    p.table__p Перегруз свыше установленной нормы**
                    p.table__p 2&nbsp;500&nbsp;₽
                .table__item
                    p.table__p Дополнительная точка загрузки / выгрузки
                    p.table__p 1&nbsp;500&nbsp;₽&nbsp;/&nbsp;1&nbsp;час 
            p.table__info * Норма бесплатного простоя на загрузке / выгрузке: 20 футов – 4 часа, 40 футов – 5 часов.
            p.table__info ** Норма погрузки по массе груза нетто (без учета контейнера): 20 футов – 18 тонн, 40 футов – 20 тонн.