mixin table()
    section.table
        .table__body.container 
            .table__content 
                .table__item
                    p.table__p 1 км
                    p.table__p 110&nbsp;₽
                .table__item
                    p.table__p Постановка контейнера
                    p.table__p 22&nbsp;000&nbsp;₽
                .table__item
                    p.table__p Простой свыше 5 часов на загрузке / выгрузке*
                    p.table__p 1&nbsp;500&nbsp;₽&nbsp;/&nbsp;1&nbsp;час
                .table__item
                    p.table__p Перегруз свыше установленной нормы**
                    p.table__p 2&nbsp;500&nbsp;₽
                .table__item
                    p.table__p Дополнительная точка загрузки / выгрузки
                    p.table__p 1&nbsp;500&nbsp;₽&nbsp;/&nbsp;1&nbsp;час 
            p.table__info * Норма бесплатного простоя на загрузке / выгрузке: 20 футов – 4 часа, 40 футов – 5 часов.
            p.table__info ** Норма погрузки по массе груза нетто (без учета контейнера): 20 футов – 18 тонн, 40 футов – 20 тонн.

mixin table-2()
    section.table
        .table__body.container 
            .table__content 
                .table__item
                    p.table__p Наименование
                    p.table__p ООО&nbsp;“Профмаркет”
                .table__item
                    p.table__p Юридический адрес
                    p.table__p 140000, Московская обл, Люберецкий р-н, Люберцы г, Котельнический проезд, дом 27А, этаж 3, кабинет 4
                .table__item
                    p.table__p Почтовый&nbsp;адрес
                    p.table__p 140010, Московская обл. , г. Люберцы, Комсомольский пр-кт, д. 22, кв. 66
                .table__item
                    p.table__p Телефон
                    p.table__p 8-(926)-578-08-89
                .table__item
                    p.table__p ИНН&nbsp;/&nbsp;КПП
                    p.table__p 5027223050 / 502701001
                .table__item
                    p.table__p ОГРН
                    p.table__p 1145027321020
                .table__item
                    p.table__p ОКПО
                    p.table__p 45697010
                .table__item
                    p.table__p ОКВЭД
                    p.table__p 60.24
                .table__item
                    p.table__p Генеральный директор
                    p.table__p Тюпин&nbsp;Юрий&nbsp;Николаевич
                .table__item
                    p.table__p Расчетный счет
                    p.table__p 40702810624000000457
                .table__item
                    p.table__p Банк
                    p.table__p АКБ «АБСОЛЮТ БАНК» (ПАО) г. Люберцы
                .table__item
                    p.table__p Корреспондентский счет
                    p.table__p 30101810500000000976
                .table__item
                    p.table__p БИК
                    p.table__p 044525976