// Тема по умолчанию
:root{
    --animation-smooth: 0.7s cubic-bezier(0.5, 0.5, 0, 1);
    --animation-primary: 0.4s cubic-bezier(0.5, 0.75, 0, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Gilroy', sans-serif;
    &:focus,
    &:active{
        outline: none;
    }
}
html,
body{
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    color: inherit;
}
ul{
    list-style-type: none;
}
.breadcrumb{
    padding-top: 30px;
    padding-bottom: 30px;
    &__body{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        flex-wrap: wrap;
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        color: #1F1F1F;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
        span{
            opacity: 0.5;
        }
        &.active{
            span{
                opacity: 1;
            }
        }
    }
}
.title{
    color: var(--black-text, #1F1F1F);
    /* h2 */
    font-family: Gilroy;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 30px;
    max-width: 738px;
    @include media(1400){
        font-size: 48px;
    }
    @include media(768){
        font-size: 40px;
    }
    @include media(480){
        font-size: 32px;
    }
}