// Тема по умолчанию
:root{
    --animation-smooth: 0.7s cubic-bezier(0.5, 0.5, 0, 1);
    --animation-primary: 0.4s cubic-bezier(0.5, 0.75, 0, 1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Gilroy', sans-serif;
    scroll-behavior: smooth;
    &:focus,
    &:active{
        outline: none;
    }
}
html,
body{
    height: 100%;
    min-width: 360px;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .main{
        flex: 1 1 auto;
    }
}
button{
    background: none;
    border: none;
    cursor: pointer;
}
a{
    color: inherit;
}
ul{
    list-style-type: none;
}
.breadcrumb{
    padding-top: 30px;
    padding-bottom: 30px;
    &__body{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        flex-wrap: wrap;
    }
    &__link{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        color: #1F1F1F;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;
        span{
            opacity: 0.5;
        }
        &.active{
            span{
                opacity: 1;
            }
        }
    }
}
.title{
    color: var(--black-text, #1F1F1F);
    /* h2 */
    font-family: Gilroy;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 30px;
    max-width: 738px;
    &.sm{
        font-size: 32px;
        padding-bottom: 0;
        @include media(1400){
            font-size: 32px;
            padding-bottom: 36px;
        }
        @include media(768){
            font-size: 24px;
        }
        @include media(480){
            font-size: 20px;
        }
    }
    @include media(1400){
        font-size: 48px;
    }
    @include media(768){
        font-size: 40px;
    }
    @include media(480){
        font-size: 32px;
    }
}
.date{
    color: var(--main, #FE6130);
    text-align: left;
    font-family: Gilroy;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    margin-bottom: 30px;
    @include media(1400){
        font-size: 24px;
    }
    @include media(768){
        font-size: 20px;
    }
    @include media(480){
        font-size: 16px;
    }
}
.privacy{
    padding-top: 100px;
    padding-bottom: 130px;
    @include media(992){
        padding-top: 70px;
        padding-bottom: 100px;
    }
    @include media(768){
        padding-top: 60px;
    }
    &__btn{
        padding: 21px;
        max-width: 407px;
        width: 100%;
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 13px 69px;
        border-radius: 10px;
        background: var(--main, #FE6130);
        color: var(--white, #FFF);
        font-family: Gilroy;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%; 
        text-decoration: none;
        @include media(1400){
            font-size: 20px;
            max-width: 249px;
            padding: 13px;
        }
    }
    &__title{
        color: #1F1F1F;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        @include media(480){
            font-size: 24px;
        }
    }
    &__p{
        margin-top: 40px;
        color: #1F1F1F;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 170%;
        a{
            color: #FE6130;
            text-decoration: underline;
        }
    }
}
.con{
    margin-bottom: 60px;
    &__map{
        width: 100%;
        height: 500px;
        margin-bottom: 30px;
        &>div,iframe{
            width: 100%;
            height: 100%;
            border: none;
        }
        @include media(768){
            height: 300px;
        }
    }
    &__bot{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        @include media(768){
            flex-direction: column;
        }
    }
    &__p{
        color: var(--black-text, #1F1F1F);
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        max-width: 470px;
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;

        @include media(768){
            align-items: flex-start;
        }
    }
    &__tel{
        text-decoration: none;
        color: var(--black-text, #1F1F1F);
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    &__soc{
        display: flex;
        gap: 20px;
    }
}
.images-container{
    width: 100%;
    overflow-x: auto;
    line-height: 0;
    border-radius: 10px;
    margin-bottom: 30px;
}
.images{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    min-width: max-content;
    @include media(1400){
        gap: 15px;
    }
    @include media(768){
        gap: 10px;
    }
    &__item{
        line-height: 0;
        @include media(1400){
            height: 329px;
        }
        @include media(768){
            height: 230px;
        }
        @include media(480){
            height: 130px;
        }
        img{
            width: 100%;
            height: 100%;
            max-width: 100%;
        }
    }
}
.detail{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @include media(1400){
        gap: 15px;
    }
    &__info{
        display: block;
        max-width: 738px;
        width: 100%;
        @include media(1400){
            max-width: 553px;
        }
    }
    &__p{
        color: var(--black-text, #1F1F1F);
        /* text_24_news */
        font-family: Gilroy;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        @include media(1400){
            font-size: 20px;
        }
        @include media(480){
            font-size: 16px;
        }
    }
    &__btn{
        margin-top: 30px;
        border-radius: 10px;
        width: 88px;
        height: 88px;
        background: var(--bg-for-items, #F4F4F4);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__side{
        max-width: 522px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @include media(992){
            display: none;
        }
        .discounts__item{
            width: 100%;
        }
    }
}
.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    z-index: 500;
    opacity: 0;
    visibility: hidden;
    transition: 300ms ease-out;
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: center;
    &.active{
        opacity: 1;
        visibility: visible;
    }
    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000080;
        z-index: -1;
    }
    &__body{
        border-radius: 20px;
        background: var(--black-text, #1F1F1F);
        color: #fff;
        max-width: 630px;
        width: calc(100% - 10px);
        padding: 50px 57px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include media(768){
            padding: 50px 20px;
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 414px;
        width: 100%;
    }
    &__close{
        top: 30px;
        right: 30px;
        position: absolute;
        @include media(768){
            top: 15px;
            right: 15px;
        }
    }
    &__title{
        color: var(--white, #FFF);
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 30px;
        @include media(576){
            font-size: 24px;
        }
        @include media(480){
            margin-bottom: 20px;
        }
        span{
            color: #FE6130;
        }
    }
    &__input{
        padding: 17px;
        border: none;
        color: var(--black-text, #1F1F1F);
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        border-radius: 10px;
        background: var(--white, #FFF);
        @include media(768){
            height: 60px;
        }
    }
    &__btn{
        margin-top: 30px;
        border-radius: 10px;
        background: var(--main, #FE6130);
        padding: 13px 58px;
        color: var(--white, #FFF);
        font-family: Gilroy;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 160%;
        @include media(768){
            margin-top: 20px;
        }
    }
    &__p{
        color: var(--white, #FFF);
        text-align: center;
        font-family: Gilroy;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        opacity: 0.5;
        text-decoration: none;
        margin-top: 10px;
        a{
            text-decoration: underline;
        }
    }
    &__desc{
        color: var(--white, #FFF);
        text-align: center;
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 40px;
        opacity: 0.8;
        margin-top: -20px;
        @include media(480){
            margin-top: -10px;
        }
    }
}
.thanks-title{
    color: var(--white, #FFF);
    text-align: center;
    /* h4 */
    font-family: Gilroy;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 30px;
}
.thanks-p{
    color: var(--white, #FFF);
    text-align: center;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    opacity: 0.8;
}